.container {
    text-align: center;
}
.content {
    width: 1080px;
    margin: 50px auto;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    width: 200px;
    text-align: left;
}

ul li.positive span {
    color: limegreen;
}

ul li.negative span {
    color: red;
}

ul li.neutral span {
    color: yellow;
}